@charset "utf-8";
$base_color: #bed762;
$sub_color: #44ad31;
$brown: #383838;
$pale: #f0f8fa;
$red: #ed1908;
$yellow: #fee516;
$blue: #173A6C;
$bg_gray: #f4f4f4;
$white: #fff;
$sen: #dddddd;
$beige: #fbf6e6;
$body: #ffffff;
$font__ja: "YakuHanMP",
"游明朝 Medium",
"Yu Mincho",
YuMincho,
"Hiragino Mincho ProN",
HGS明朝E,
serif;
$font__ja2: "YakuHanJP",
'Zen Kaku Gothic New',
"游ゴシック Medium",
"游ゴシック体",
"Yu Gothic Medium",
YuGothic,
"ヒラギノ角ゴ ProN",
"メイリオ",
Meiryo,
"ＭＳ Ｐゴシック",
"MS PGothic",
sans-serif;
$font__en: "League Spartan", sans-serif;
$img:"https://ros-cdn.s3.ap-northeast-1.amazonaws.com/hp/img/ros_keiyaku/26715/";
$base_width: 1500px;

